.slot {
  width: 10px;
  height: 10px;
  background-color: lightskyblue;
}

.slotDisabled {
  background-color: #888;
}

.slotReserving {
  background-color: royalblue;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row
}

.nowrap {
  flex-wrap: nowrap;
}
