.slot {
  width: 10px;
  height: 10px;
  background-color: blue;
}

.slotDisabled {
  background-color: darkslategray;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row
}

.nowrap {
  flex-wrap: nowrap;
}
