.slotDay {
  border: 1px solid #aaa;
  border-radius: 20px;
  margin: 5px;
  background-color: #fffff5;
}

.slotDay:nth-child(even) {
  background-color: #fff5ff;
}

.gridContainer {
  width: 42px;
  height: 42px;
  display: table-cell;
  vertical-align: middle;
}

.gridItem {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 35px;
  height: 35px;
}

.slot {
  background-color: lightskyblue;
  transition: 1s;
  border-radius: 5px;
}

.slot > * {
  color: white;
  font-size: 0.8em;
}

.slotReserving {
  background-color: royalblue;
}

.slotDereserving {
  background-color: #aaf;
}

.slotReserved {
  background-color: purple;
}

.slotMyReserved {
  background-color: green;
}

/* Must be the last slot declaration to override all slots */
.slotDisabled {
  background-color: #888;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row
}

.nowrap {
  flex-wrap: nowrap;
}
